@import "tailwindcss" .inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* header section style */
.gradient-text {
  background: linear-gradient(to right top, #f7e93f, #fb09b4, #9100f8);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

button{
  background: linear-gradient(right top, #f7e93f, #fb09b4, #9100f8);
}


/* hero section */
.hero-image{
    width: 100%;
    height: 760px;
    background: url(../assets/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: static;
}
.txt{
    position: absolute;
    top: 198px;
    right: 570px;
}

.microphone-img{
    position: absolute;   
}

.spotify-btn{
    background: linear-gradient(right top, #f7e93f, #fb09b4, #9100f8);
}

.sub-spotify{
    border: 2px solid #00FF88;
}

.spotify-icon{
    height: 20px;
    width: 20px;
}


/* About section */
.title h1{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
    color: #00FF88;
}
.title p{
    font-size: 16px;
    font-weight: 200;
    opacity: 80%;
    color: #FFFFFF;
    line-height: 20px;
}

.divider{
    max-width: 1200px;
    margin: 0 auto;
    color: #FFFFFF;
    opacity: 10%;
}
