@import "tailwindcss" .inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* header section style */
.gradient-text {
  background: linear-gradient(to right top, #f7e93f, #fb09b4, #9100f8);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

button{
  background: linear-gradient(right top, #f7e93f, #fb09b4, #9100f8);
}
