.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
@import "tailwindcss" 






/* Shared Style */
.gradient-text {
  background: linear-gradient(to right top, #f7e93f, #fb09b4, #9100f8);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* header section style */
button {
  background: linear-gradient(right top, #f7e93f, #fb09b4, #9100f8);
}

/* hero section */
.hero-image {
  width: 100%;
  /* max-width: 1600px; */
  height: 760px;
  background: url("../assets/hero-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: static;
}
.txt {
  width: 75px;
  position: absolute;
  top: 205px;
  right: 660px;
  box-shadow: -1px 1px 10px rgb(106, 255, 0);
}

.microphone-img {
  position: absolute;
}

.spotify-btn {
  background: linear-gradient(right top, #f7e93f, #fb09b4, #9100f8);
}

.sub-spotify {
  border: 2px solid #00ff88;
}

.spotify-icon {
  height: 20px;
  width: 20px;
}

/* About section */
.title h1 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 16px;
  color: #00ff88;
}
.title p {
  font-size: 16px;
  font-weight: 200;
  opacity: 80%;
  color: #ffffff;
  line-height: 20px;
  margin-bottom: 120px;
}

.divider {
  max-width: 1200px;
  margin: 0 auto;
  color: #ffffff;
  opacity: 10%;
}

/* Choose Section */
.choose-section {
  background-color: #230e3d;
}

.choose-container > * {
  border-radius: 40px;
  background-color: hsla(266, 71%, 23%, 0.399);
}

.choose-container h1 {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  margin-top: 16px;
  margin-bottom: 16px;
}
.choose-container p {
  font-size: 16px;
  color: #ffffff;
  opacity: 40%;
}
.audio {
  padding: 107px 40px;
}
.mobile,
.global,
.exclusive,
.resources {
  padding: 40px;
}

.audio {
  grid-area: audio;
}
.mobile {
  grid-area: mobile;
}
.global {
  grid-area: global;
}
.exclusive {
  grid-area: exclusive;
}
.resources {
  grid-area: resources;
}

.choose-container {
  display: grid;
  justify-content: center;
  margin: 0 200px;
  gap: 30px;
  padding-bottom: 120px;
  grid-template-areas:
    "audio mobile mobile"
    "audio global global"
    "exclusive exclusive resources";
}

/* Featured Section */
.featured-section {
  background-color: #1a0b2e;
  /* max-width: 1600px; */
  /* width: 100%; */
  /* height: 1276px; */
}
.featured-container {
  margin: 0 200px;
  gap: 30px;
}

iframe {
  width: 100%;
  max-width: 380px;
  max-height: 214px;
  aspect-ratio: 16 / 9;
  border-radius: 20px 20px 0 0;
}
.first-podcast,
.second-podcast,
.third-podcast {
  border: none;
  border-radius: 0 0 20px 20px;
  background-color: hsla(266, 68%, 16%, 0.692);
  padding: 24px;
}

.podcast h1 {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 12px;
}
.podcast p {
  font-size: 16px;
  color: #ffffff;
  font-weight: 200;
  opacity: 40%;
  margin-bottom: 12px;
}
.podcast img {
  width: 24px;
  height: 24px;
}

/* Host section */
.host-section {
  padding-bottom: 120px;
}
.host-container {
  max-width: 1200px;
  margin: 0 200px;
  border: none;
  border-radius: 40px;
  background-color: hsla(266, 68%, 16%, 0.692);
}
.host-discription p {
  font-size: 16px;
  line-height: 24px;
}
.host-social-media {
  border: 2px solid #533c72;
  border-radius: 50%;
  padding: 10px;
}
.host-social-link {
  padding: 10px;
}
.host-social-link img {
  width: 20px;
  height: 20px;
}

/* Footer Section */
.footer-section {
  background: url("../assets/footer-bg.png");
  /* max-width: 1600px; */
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 412px;
  padding: 120px;
}
.footer-container {
}

.podcast-social-link {
  max-width: 544px;
  max-height: 24px;
  margin: 44px 408px 0;
}
.podcast-social-link img {
  width: 26px;
  height: 20px;
}
.podcast-social-link a {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  opacity: 60%;
}

.copy-right-section {
  color: #ffffff;
  opacity: 60%;
}


.hide{
    display: none; !important
}


/* Responsive Design */
@media screen and (max-width: 576px) {
    nav{
        display: flex;
        justify-content: space-between;
    }
    .menu-items, .primary-btn, .line-break{
        display: none;
    }

    .hero-image{
        max-width: 440px;
        height: 466px;
    }
    .banner-img-container{
        padding-top: 40px;
    }
    .circle-img{
        max-width: 200px;
        height: 200px;
    }
    .microphone-img{
        max-width: 80px;
        height: 80px;
    }
    .banner-title{
        margin-top: 24px;
    }
    .banner-title h1{
        font-size: 40px;
        font-weight: 900;
    }


    .about-podcast{
        max-width: 400px;
        padding-top: 40px;
    }
    .about-title{
        font-size: 32px;
    }

    .about-discription {
        text-align: center;
        margin-bottom: 40px;
    }
    /* .divider{
        margin-bottom: 40px;
    } */

    .rate-number{
        max-width: 400px;
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }


    .choose-section{
        max-width: 440px;
    }
    .choose-title{
        padding-top: 40px;
        font-size: 32px;
        font-weight: bold;
    }
    .audio{
        max-width: 400px;
        padding: 24px;
    }
    .choose-container{
        display: grid;
        gap: 16px;
        grid-template-columns: 400px;
        grid-template-areas: 
        "audio"
        "mobile"
        "global"
        "exclusive"
        "resources"
        ;
        
    }
    .choose-container h1{
        font-size: 22px;
    }

    .featured{
        padding: 40px 20px 0;
    }
    .podcast{
        max-width: 380px;
    }
    .featured-title, .host-title, .footer-title{
        font-size: 32px;
    }
    .featured-container{
        grid-template-columns: 400px;
    }
    .host-section{
        padding: 20px;
    }
    .host-container{
        max-width: 576px;
        margin: 0 auto;
        padding: 24px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
    .host-container img{
        max-width: 150px;
        height: 150px;
    }
    .host-img{
        margin: 0 auto;
    }
    .host-title{
        padding-top: 60px;
    }
    .host-social-link{
        max-width: 184px;
        margin: 0 auto;
    }
    .host-social-link img{
        width: 20px;
        height: 20px;
    }

    .footer-section{
        max-width: 440px;
        /* height: 228px; */
        height: 100%;
        padding: 40px;
    }
    .footer-title{
        margin-bottom: 24px;
    }
    .podcast-social-link{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
        margin: 0 auto;
        margin-bottom: 24px;
    }

}
